body {
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    
  }
  
  .contenedor {
    background-color: hsl(217, 54%, 11%);
    height: 100vh;
  
      
  }
  
 .contenedor-interno {
    
        width: 375px;
        background-color: hsl(216, 50%, 16%);
        text-align: center;
        padding: 10px;
        border-radius: 16px;
        margin: auto;
        position: relative;
        top: 20%
        
       
  }
       
      
 .cube {
    width: 345px;
    border-radius: 16px;

 }

  
  .subtitle {
    color: hsl(0, 0%, 100%);
    text-align: left;
  }

  .text {
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
  }
  
  
  .diamond  {
     text-align: left;
     float: left;
     margin-top: 10px;
     
  }

  .span-diamond {
    text-align: left;
     float: left;
     font-weight: bold;
     color: aqua;
     margin-top: 10px;
  }
  
  .clock  {
    text-align: right;
    float: right;
    margin-top: 10px;
    
 }

 .span-clock {
    text-align: right;
    float: right;
    color: rgba(255, 255, 255, 0.5)
    
 }
  
 hr {
    color: aliceblue;
    position: inherit;
 }

 #avatar1 {
     width: 50px;
     text-align: left;
     margin-top: 10px;
 }

.footer-text1 {
    text-align: right;
    float: right;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.5)
}


.footer-text2 {
    text-align: right;
    float: right;
    margin-top: 10px;
    font-weight: bold;
    color: white;
}


